@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-control {
    @apply w-full border my-2 py-2 px-3 rounded-2xl;
  }
  
  button {
    @apply bg-gray-300;
  }
  
  button.primary {
    @apply p-2 w-full text-white rounded-2xl;
  }
  
  .back-button {
    @apply w-full py-2 text-sm text-gray-500 hover:text-gray-700 text-center transition duration-300;
  }
  
  .error-feedback {
    @apply text-red-500 text-sm mt-1;
  }
  
  .alert-danger {
    @apply bg-red-100 text-red-700;
  }
  
  .success-icon {
    @apply w-16 h-16 flex items-center justify-center bg-green-500 text-white text-2xl rounded-full;
  }
}

/* Custom CSS không dùng @apply */
.container {
  position: relative;
  width: 500px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.678);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  text-align: center;
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  transform: skewX(345deg);
  z-index: -1;
  background: rgba(255, 255, 255, 0.2);
}
.swal2-container {
  z-index: 10000 !important;
}